
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modal-dialog {
  min-width: 80%;
  margin: 0 auto;
}

.novo{
  display: flex;
  justify-content: end; 
  align-items: center;
}

.pesquisa{
  width: 30%;
  margin-right: 1rem;
}

.frasepage {
  margin-right: 15%;
  width: 40%;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: bold;
}


.tabela{
  margin-top: 1rem;
}

.input_padrão{
  width: 2px;
  color: red;
  padding: 0.375rem 0.75rem;
}

